{% load static_combo %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>YourApp</title>
    {% static_combo_css "css/starterapp.css" %}
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      ul{
        list-style-type: None;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    {% block extra_head %} {% endblock %}
  </head>

  <body style="{% block body_style %}{% endblock %}">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">YourApp</a>
          {% block nav_bar_content %}
          {% endblock %}
        </div>
      </div>
    </div>

    <div class="container">
      {% block content %}{% endblock %}

      <hr>

      <footer>
        <p>&copy; YourApp 2012</p>
      </footer>

    </div><!--/.fluid-container-->
    {% static_combo_js "js/starterapp.js" %}
  </body>
</html>